@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
    font-family: "Concert One", sans-serif;;
    background-color: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #ff6ec4, #7873f5, #3f87a6, #f5f7fa);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 75%;
    height: 75%;
    border: 7px double blue;
    align-items: center;
}

form {
    margin-bottom: 20px;
    font-size: 28px;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3f87a6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
    height: 10%;
    font-family: "Concert One", sans-serif;
    transition: transform 0.3s ease, background-color 0.3s ease
}

button:hover {
    background-color: #2d6a86;
    transform: scale(1.1);
}

h1 {
    font-size: 48px;
    padding: 1px;
    margin-top: 10px;
    margin-bottom: 0;
}

.small-text {
    font-size: 22px;
}

.title-container {
    display: flex; 
    margin-bottom: 0;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100px); /* Start from the left */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes slideIn1 {
    0% {
        opacity: 0;
        transform: translateX(100px); /* Start from the left */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

.images1 {
    margin-right: 10px;
    animation: slideIn 1s ease-out;
}

.images2 {
    margin-right: 10px;
    animation: slideIn1 1s ease-out;
}

h2 {
    font-size: 20px;
}



