@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.box1 {
    width: 300px;
    height: 400px;
    background-color: blue;
    border-radius: 15px;
    text-align: center;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
    font-family: "Concert One", sans-serif;
    font-size: 50px; 
}

.container {
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    font-family: "Concert One", sans-serif;
    font-size: 100px;
}

.shapes, .body, .fruits {
    background-color:  white;
    font-family: "Concert One", sans-serif;
    font-size: 40px;
    margin: 20px;
    border: 5px solid black;
    border-radius: 15px;
    padding: 8px;
}

#shapes, #shapes2, #shapes3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.shapes::before,
.body::before,
.fruits::before {
    content: attr(class); /* Automatically use the class name as text */
    font-size: 60px; /* Adjust this value to make it larger */
    font-weight: bold;
    display: block;  /* Forces the text to be on its own line */
    margin-bottom: 10px; /* Space below the title */
}


.shape img {
    display: block;
    margin: 0 auto;
    width: 100px;
}

.shape-div {
    text-align: center;
    margin-top: 10px;
}

.shape {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure the background covers the entire page */
    background: linear-gradient(45deg, #ff6ec4, #7873f5, #3f87a6, #f5f7fa);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    font-family: 'Arial', sans-serif;
    margin-top: 10px;
    /* try adding a margin to the bottom */
}

/* Define the gradient animation */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



